---
import Paginamaestra from "../layouts/Paginamaestra.astro";
const {slug} = Astro.params;

const traerArticulos = await fetch('https://public-api.wordpress.com/wp/v2/sites/thebasics05.wordpress.com/posts?slug='+slug);
const [articulo] = await traerArticulos.json();

---

<Paginamaestra>
    <div id="contenedor-centrado">
        <h1 set:html={articulo?.title?.rendered}></h1>
    <img src={articulo?.jetpack_featured_media_url} alt="">
    <div id="contenido" set:html={articulo?.content?.rendered}></div>
    </div>
    
</Paginamaestra>

<style>
    #contenedor-centrado{
        grid-column: 3/4;
        grid-row: 2/3;

        img {
            max-width: 100%;
        }

        .wp-block-columns{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            

            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
        p{ 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

   
</style>